@import "../../design-tokens/variables";

.sign-up-form {
  // custom normal inputs field of ant design
  input {
    &:hover,
    &:focus {
      border-color: $c1-500;
      box-shadow: none;
    }
    &:focus {
      outline: none;
    }
  }
  //custom inputs with wrapper outside
  .ant-input-affix-wrapper {
    &:hover,
    &.ant-input-affix-wrapper-focused {
      box-shadow: none;
      border-color: $c1-500;
    }
  }
  .sign-up-form-button {
    background-color: $c1-500;
    &:hover {
      background-color: $c1-600;
    }
  }
}
