@mixin Icon($fontSize, $color) {
  font-size: $fontSize;
  color: $color;
}

@mixin Button($basePadding, $fontSize, $color, $backgroundColor) {
  padding: $basePadding * 1px $basePadding * 2px;
  font-size: $fontSize;
  color: $color;
  background-color: $backgroundColor;
}

@mixin Seperator($backgroundColor, $width, $height) {
  background-color: $backgroundColor;
  height: $height;
  width: $width;
}

@mixin Overlay() {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: $c1-745;
  width: 100%;
  height: 100%;
}

@mixin ModuleBackground() {
  visibility: hidden;
  display: block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: $c1-745;
  opacity: 0;
}

@mixin Responsive($breakPoint) {
  @if $breakPoint == $SM {
    @media screen and (min-width: $SM) {
      @content;
    }
  } @else if $breakPoint == $MD {
    @media screen and (min-width: $MD) {
      @content;
    }
  } @else if $breakPoint == $LG {
    @media screen and (min-width: $LG) {
      @content;
    }
  } @else if $breakPoint == $XL {
    @media screen and (min-width: $XL) {
      @content;
    }
  }
}
