@mixin Icon($fontSize, $color) {
  font-size: $fontSize;
  color: $color;
}

@mixin Button($basePadding, $fontSize, $color, $backgroundColor) {
  padding: $basePadding * 1px $basePadding * 3px;
  font-size: $fontSize;
  color: $color;
  background-color: $backgroundColor;
}

@mixin Seperator($backgroundColor, $width, $height) {
  background-color: $backgroundColor;
  height: $height;
  width: $width;
}

@mixin Responsive($breakPoint) {
  @if $breakPoint == $SM {
    @media screen and (max-width: $SM) {
      @content;
    }
  } @else if $breakPoint == $MD {
    @media screen and (max-width: $MD) {
      @content;
    }
  } @else if $breakPoint == $LG {
    @media screen and (max-width: $LG) {
      @content;
    }
  } @else if $breakPoint == $XL {
    @media screen and (max-width: $XL) {
      @content;
    }
  }
}
