//text-size variables
$text-xs: 14px;
$text-base: 16px;
$text-sm: 18px;
$text-md: 20px;
$text-lg: 25px;
$text-xl: 30px;
$text-2xl: 40px;
$text-3xl: 60px;

//text-boldness variables
$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 700;

//color variables

$c1-50: #fff;
$c1-500: #e91e63;
$c1-800: #212121;
