//text-size variables
$text-xs: 14px;
$text-base: 16px;
$text-sm: 18px;
$text-md: 20px;
$text-lg: 25px;
$text-xl: 30px;
$text-2xl: 40px;
$text-3xl: 60px;

//text-boldness variables
$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 700;

//color variables

$c1-50: #fff;
$c1-100: #fafafa;
$c1-495: rgb(233, 30, 99, 0.5);
$c1-500: #e91e63;
$c1-600: #b0003a;
$c1-650: #ff1744;
$c1-745: rgba(28, 28, 28, 0.5);
$c1-750: #1b1b1b;
$c1-800: #212121;

//Responsive breakpoints
$SM: 576px;
$MD: 768px;
$LG: 992px;
$XL: 1200px;

//item height for responsive breakpoint

$h-2xs: 250px;
$h-xs: 300px;
$h-sm: 330px;
$h-md: 350px;
$h-lg: 380px;
