@import "../../../../design-tokens/base";
@import "../../../../design-tokens/mixins";
@import "../../../../design-tokens/variables";

.theater-brand-list {
  @include ItemContainerBooking();
  .img-container {
    img {
      height: 150px;
      width: 150px;
    }
  }
}

@include Responsive($LG) {
  .theater-brand-list {
    height: auto;
    overflow: auto;
  }
}
