@import "../../../../../../design-tokens/base";
@import "../../../../../../design-tokens/mixins";
@import "../../../../../../design-tokens/variables";

.show-time-item {
  border: 1px solid $c1-750;
  border: 1px solid $c1-750;
  //   padding: 2px;
  border-radius: 5px;
  text-decoration: none;
  color: $c1-500;
  background-color: $c1-750;
  &:focus {
    text-decoration: none;
  }
}

@include Responsive($MD) {
  .show-time-item {
    font-size: $text-md;
  }
}
