@import "../../../../design-tokens/base";
@import "../../../../design-tokens/variables";
@import "../../../../design-tokens/mixins";

.movie-detail {
  .movie-detail-body {
    .title {
      h1 {
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        font-size: $text-lg;
        color: $c1-500;
      }
    }
    .rating {
      b {
        color: $c1-500;
        font-size: $text-lg;
      }
      i {
        color: yellow;
      }
    }
    .content {
      h3 {
        font-size: $text-lg;
        color: $c1-500;
      }
      p {
        font-size: $text-base;
      }
    }
    .trailer {
      h4 {
        color: $c1-500;
      }
      .trailer-inner {
        width: 100%;
        .trailer-wrapper {
          width: 100%;
          iframe {
            width: 400px;
            height: 250px;
            margin: auto;
            display: block;
          }
        }
      }
    }
  }
}
