@import "../../../../design-tokens/base";
@import "../../../../design-tokens/variables";
@import "../../../../design-tokens/mixins";

.movie-detail {
  .img-container {
    img {
      width: 350px;
    }
  }
  .movie-detail-body {
    .title {
      h1 {
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
        text-overflow: ellipsis;
        font-size: $text-lg;
        color: $c1-500;
      }
    }
    .rating {
      b {
        color: $c1-500;
        font-size: $text-lg;
      }
      i {
        color: yellow;
      }
    }
    .content {
      h3 {
        font-size: $text-lg;
        color: $c1-500;
      }
      p {
        font-size: $text-base;
      }
    }
    .trailer {
      h4 {
        color: $c1-500;
      }
      .trailer-inner {
        width: 100%;
        .trailer-wrapper {
          width: 100%;
          iframe {
            width: 400px;
            height: 250px;
            margin: auto;
            display: block;
          }
        }
      }
    }
  }
}

@include Responsive($MD) {
  .movie-detail {
    .movie-detail-body {
      .title {
        h1 {
          font-size: $text-2xl;
          white-space: normal;
        }
      }
      .rating {
        h5 {
          font-size: $text-lg;
        }
        b {
          font-size: $text-2xl;
        }
      }
      .content {
        h3 {
          font-size: $text-2xl;
        }
        p {
          font-size: $text-md;
        }
      }
      .trailer {
        h4 {
          font-size: $text-2xl;
        }
      }
    }
  }
}

@include Responsive($LG) {
  .movie-detail {
    .img-container {
      img {
        width: 300px;
      }
    }
    .movie-detail-body {
      .trailer {
        .trailer-inner {
          .trailer-wrapper {
            iframe {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
