@import "../../../../design-tokens/base";
@import "../../../../design-tokens/mixins";
@import "../../../../design-tokens/variables";

.theater-item {
  background-color: none;
  &:focus {
    outline: none;
  }
  border: 1px solid $c1-750;
  border-top: none;
  .img-container {
    padding: 10px;
    img {
      width: 100%;
    }
  }
  .theater-name {
    position: relative;
    margin-bottom: 10px;
  }
  .play-time-item {
    color: $c1-750;
    border: 1px solid $c1-750;
    padding: 5px;
    border-radius: 5px;
    margin: 2px;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      color: $c1-50;
      background-color: $c1-500;
    }
  }
}
