@import "../../design-tokens/base";
@import "../../design-tokens/mixins";
@import "../../design-tokens/variables";

.now-playing {
  h4 {
    font-size: $text-2xl;
    color: $c1-500;
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
  }
}



@include Responsive($SM) {
  .now-playing {
    .card.card-movie {
      img {
        height: $h-md;
      }
    }
  }
}

@include Responsive($MD) {
  .now-playing {
    .card.card-movie {
      img {
        height: $h-2xs;
      }
    }
  }
}

@include Responsive($LG) {
  .now-playing {
    .card.card-movie {
      img {
        height: $h-xs;
      }
    }
  }
}
