@import "../../design-tokens/_variables.scss";
@import "../../design-tokens/mixins";

.navbar-movie {
  background-color: $c1-800;
  position: relative;
  .navbar-toggler {
    .fa-bars,
    .fa-times {
      color: $c1-50;
      font-size: $text-xl;
      transition: all 0.5s;
    }
    .fa-bars {
      display: block;
    }
    .fa-times {
      display: none;
    }
    &.opening {
      .fa-bars {
        display: none;
      }
      .fa-times {
        display: block;
      }
    }
    &:hover {
      i {
        $color: $c1-500;
      }
    }
    &:focus {
      border: none;
      outline: none;
    }
  }
  .navbar-collapse {
    border-top: medium solid $c1-500;
    padding: 1rem 2rem 0;
    .nav-items {
      .nav-item {
        position: relative;
        a {
          font-size: $text-md;
          font-weight: $text-semiBold;
          color: $c1-50;
          padding: 5px 10px;
          &:hover {
            color: $c1-500;
          }
        }
        &.active {
          a {
            color: $c1-500;
          }
        }
      }
    }
  }
  .sign-in-module {
    position: absolute;
    top: 46px;
    right: 45px;
    .sign-in {
      color: $c1-50;
      background-color: transparent;
      border: none;
      font-size: $text-xs;
      &:focus {
        outline: none;
      }
    }
    .user-icon {
      @include Icon($text-xs, $c1-50);
    }
  }
}

@include Responsive($MD) {
  .navbar-movie {
    .navbar-toggler {
      padding: 1rem;
      .fa-bars,
      .fa-times {
        font-size: $text-2xl;
      }
    }
    .sign-in-module {
      top: 45px;
      right: 60px;
      .sign-in,
      .user-icon {
        font-size: $text-base;
      }
    }
  }
}

@include Responsive($LG) {
  .navbar-movie {
    .navbar-collapse {
      border: none;
      padding: 0;
    }
    .sign-in-module {
      position: static;
      top: 42px;
      right: 65px;
      .sign-in,
      .user-icon {
        font-size: $text-base;
      }
      margin: 0 15px 45px 0;
    }
  }
}

@include Responsive($XL) {
  .navbar-movie {
    .navbar-collapse {
      .nav-items {
        .nav-item {
          a {
            font-size: calc($text-md + 3px);
          }
        }
      }
    }
  }
}
