@import "../../design-tokens/base";
@import "../../design-tokens/mixins";
@import "../../design-tokens/variables";

.side-bar {
  visibility: hidden;
  display: none;
  background-color: $c1-800;
  border-radius: 5px;
  color: $c1-50;
  .hot-movie-item {
    padding: 1rem 0;
    border-bottom: 1px solid $c1-500;
    text-decoration: none;
    transform: scale(1);
    opacity: 1;
    transition: all 0.5s;
    .img-container {
      width: 30%;
      margin-right: 1rem;
      img {
        width: 100%;
      }
    }
    .hot-movie-item-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      //set width as a reference for content
      width: 70%;
      p {
        margin: 0;
        color: $c1-50;
        font-size: $text-base;
        //avoid overflow when the title is too large
        &.movie-title {
          max-width: 100%;
          //these won't work if we don't set width
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      p:nth-of-type(1) {
        color: $c1-500;
        font-size: $text-sm;
      }
      .star-rating {
        font-size: $text-lg;
        color: $c1-500;

        li {
          cursor: pointer;
        }
      }
    }
    &:hover {
      transform: scale(0.95);
      opacity: 0.7;
    }
  }
}

@include Responsive($XL) {
  .side-bar {
    visibility: visible;
    display: block;
  }
}
