@import "../../../../design-tokens/base";
@import "../../../../design-tokens/mixins";
@import "../../../../design-tokens/variables";

.quick-booking {
  .theater-brand-list {
    @include ItemContainerBooking();
    .img-container {
      img {
        width: 150px;
      }
    }
  }
}

@include Responsive($LG) {
  .quick-booking {
    .theater-brand-list {
      height: auto;
      overflow-y: visible;
      overflow-x: hidden;
      .img-container {
        img {
          width: 80px;
        }
      }
    }
  }
}
