@import "../../../../design-tokens/base";
@import "../../../../design-tokens/mixins";
@import "../../../../design-tokens/variables";

@include Responsive($SM) {
  .now-playing {
    .card.card-movie {
      img {
        height: $h-md;
      }
    }
  }
}

@include Responsive($MD) {
  .now-playing {
    .card.card-movie {
      img {
        height: $h-sm;
      }
    }
  }
}

@include Responsive($LG) {
  .now-playing {
    .card.card-movie {
      img {
        height: $h-xs;
      }
    }
  }
}
