@import "../../../../../../design-tokens/base";
@import "../../../../../../design-tokens/mixins";
@import "../../../../../../design-tokens/variables";

.nav-items {
  .nav-item {
    button,
    div {
      @include NavItem;
      background-color: transparent;
      border: none;
      &:focus {
        outline: none;
      }
    }
    div {
      pointer-events: none;
    }
  }
}

@include Responsive($MD) {
  .nav-items {
    .nav-item {
      button,
      div {
        display: none;
      }
    }
  }
}
