@import "../../design-tokens/variables";
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.login-form-movie {
  .ant-input-affix-wrapper {
    &:hover,
    &.ant-input-affix-wrapper-focused {
      box-shadow: none;
      border-color: $c1-500;
    }
  }
  .login-form-button {
    background-color: $c1-500;
    // height: 50px;
    // span {
    //   line-height: 50px;
    // }
    &:hover {
      background-color: $c1-600;
    }
  }
}
