@import "../../../../design-tokens/base";
@import "../../../../design-tokens/mixins";
@import "../../../../design-tokens/variables";

//background
.background {
  background-color: $c1-100;
}

//css for movie items
.card.card-movie {
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  border: none;

  img {
    object-fit: fill;
    transform: scale(1);
    transition: all 1s;
  }
  .overlay {
    @include Overlay();
    transition: all 0.5s;
    .button-movie-item {
      width: 4rem;
      height: 4rem;
      line-height: 4rem;
      font-size: $text-md;
      text-align: center;
      border-radius: 50%;
      outline: none;
      border: none;
      background-color: #e91e63;
      color: #fafafa;
      font-weight: bold;
      transition: all 0.5s;
      &:hover {
        background-color: #fafafa;
        color: #e91e63;
      }
    }
    .movie-detail {
      position: absolute;
      bottom: 0;
      // background-color: $c1-500;
      width: 100%;
      min-height: 15%;
      // transition: all 0.5s;
      // a {
      //   width: 100%;
      //   text-decoration: none;
      //   font-size: $text-lg;
      //   font-weight: $text-bold;
      //   color: $c1-50;
      //   transition: all 0.5s;
      // }
      // &:hover {
      //   background-color: $c1-800;
      //   a {
      //     color: $c1-500;
      //   }
      // }
    }
  }
  &:hover {
    img {
      transform: scale(1.2);
    }
    .overlay {
      top: 0;
    }
  }
}
// premire status
.title-status {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;
  h4,
  a {
    color: $c1-500;
  }
  h4 {
    font-size: $text-xl;
    font-weight: $text-bold;
    margin: 0;
  }
  a {
    transition: all 0.5s;
    font-size: $text-base;
    font-weight: $text-semiBold;
    font-style: italic;
    &:hover {
      color: $c1-500;
    }
  }
}
//seperator
.seperator-title {
  @include Seperator($c1-500, 100%, 5px);
  border-radius: 5px;
}

@include Responsive($SM) {
  .card.card-movie {
    img {
      height: $h-md;
    }
  }
}

@include Responsive($MD) {
  .card.card-movie {
    img {
      height: $h-sm;
    }
  }
}

@include Responsive($LG) {
  .title-status {
    h4 {
      font-size: $text-2xl;
    }
    a {
      font-size: $text-sm;
    }
  }
}

@include Responsive($XL) {
  .card.card-movie {
    img {
      height: $h-md;
    }
  }
  .title-status {
    h4 {
      font-size: $text-2xl;
    }
    a {
      font-size: $text-md;
    }
  }
}
