@import "../../../../design-tokens/base";
@import "../../../../design-tokens/variables";
@import "../../../../design-tokens/mixins";

//css for movie items
.card-movie {
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  .overlay {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    .button-movie-item {
      @include Button(10, $text-base, $c1-50, $c1-500);
      border: 1px solid transparent;
      border-radius: 0.25rem;
      box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
      cursor: pointer;
      font-weight: 600;
      line-height: 1.25;
      min-height: 3rem;
      text-decoration: none;
      transition: all 250ms;
      width: auto;
      &:hover,
      &:focus {
        background-color: $c1-600;
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        outline: none;
      }
      &:hover {
        transform: translateY(-1%);
      }
      &:active {
        background-color: $c1-600;
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        transform: translateY(0);
      }
    }
  }
  &:hover {
    .overlay {
      top: 0;
    }
  }
}
// premire status
.title-status {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $c1-600;
    width: 100%;
    height: 5px;
  }
  h4 {
    font-size: $text-2xl;
    color: $c1-600;
    font-weight: $text-bold;
    font-style: italic;
  }
  a {
    color: $c1-800;
    transition: all 0.5s;
    font-size: $text-md;
    font-weight: $text-semiBold;
    &:hover {
      color: $c1-500;
      text-decoration: none;
    }
  }
}
