@import "../../../../design-tokens/base";
@import "../../../../design-tokens/variables";
@import "../../../../design-tokens/mixins";

.show-time {
  .show-time-heading {
    .schedule-title {
      h3 {
        color: $c1-500;
      }
    }
  }
  .show-time-body {
    border: 1px solid black;
  }
}

@include Responsive($MD) {
  .show-time {
    .show-time-heading {
      .schedule-title {
        h3 {
          font-size: $text-2xl;
        }
      }
    }
  }
}
